<div class="container-lg" style="margin-top: 20px">
  <div class="row">
    <div class="col">
      <h2>
        My Trips
      </h2>
    </div>
    <div class="col" style="text-align: right">
      <div class="row">
        </br>
      </div>
      <div class="row">
        <div class="col" style="text-align: right">
          <a href="/new_trip" style="color: black">
            Create trip
            <i class="fas fa-plus-square"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<% @user.own_trips.each do |trip| %>
  <%= render "trips/trip", trip: trip %>
<% end %>